@import 'src/assets/styles/variables.scss';
@import 'src/assets/styles/mixins.scss';

.wrapper {
  @include Footer;
  @media (max-width: $break-point-mobile) {
    height: 1315px;
  }

  .upperBlock {
    display: flex;
    justify-content: space-between;
    width: 90%;

    @media (max-width: $break-point-mobile) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      :first-child {
        margin: auto;
      }
    }

    .logoWrapper {
      width: 13.1rem;
      height: 8.5rem;

      @media (max-width: $break-point-mobile) {
        width: 131px;
        height: 85px;
        margin-top: 40px;
      }

      .logo {
        width: 13.1rem;
        height: 8.5rem;
        @media (max-width: $break-point-mobile) {
          width: 131px;
          height: 85px;
        }
      }
    }

    .motto {
      @include jost-regular;
      font-size: 3.2rem;
      width: 40rem;
      margin-left: 4rem;
      line-height: 4.8rem;

      @media (max-width: $break-point-mobile) {
        width: 220px;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        margin-top: 35px;
      }
    }

    .navBlock {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-right: 5rem;

      @media (max-width: $break-point-mobile) {
        margin: auto;
        margin-top: 47px;
      }

      .navTitle {
        @include jost-bold;
        font-size: 1.8rem;
        color: $text-gray-color;
        @media (max-width: $break-point-mobile) {
          font-size: 18px;
          margin-bottom: 45px;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 1rem 0 0 0;

        li {
          text-transform: capitalize;
          cursor: pointer;
          @media (max-width: $break-point-mobile) {
            text-align: center;
            margin-bottom: 35px;
          }
        }

        a {
          @include jost-regular;
          font-size: 2.4rem;
          text-decoration: none;
          @media (max-width: $break-point-mobile) {
            font-size: 24px;
          }
        }

        .socialLinks {
          text-decoration: underline;
        }
      }

      .navEmail {
        @include jost-regular;
        font-size: 2.4rem;
        margin-top: 3rem;
        text-decoration: none;
        @media (max-width: $break-point-mobile) {
          font-size: 24px;
          margin-top: unset;
        }
      }
    }
  }
  .bottomBlock {
    display: flex;
    justify-content: space-between;
    padding: 20rem 5rem 5rem;

    @media (max-width: $break-point-mobile) {
      flex-direction: column;
      padding: unset;
      height: 50px;
      margin-top: 138px;
    }

    .bottomText {
      @include jost-regular;
      font-size: 1.2rem;
      color: $text-gray-color;
      @media (max-width: $break-point-mobile) {
        font-size: 12px;
        text-align: center;
      }
    }

    .termsAndPrivacy {
      @media (max-width: $break-point-mobile) {
        display: flex;
        justify-content: center;
        height: 20px;
        margin-top: 64px;
      }
      ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        @media (max-width: $break-point-mobile) {
          margin-right: 40px;
        }

        li {
          line-height: 0;
          margin: 0 1rem;

          .bottomLink {
            @include jost-regular;
            font-size: 1.2rem;
            color: $text-gray-color;
            text-decoration: none;
            text-transform: capitalize;
            @media (max-width: $break-point-mobile) {
              font-size: 12px;
              margin: 10px;
            }
          }
        }
      }
    }
  }
}
