//width
$break-point-mobile: 500px;
$break-point-tablet: 800px;
$break-point-desktop: 1920px;

//colors
$main-white-color: white;
$dark-text-color: black;
$mainText-text-color: #64503d;
$agreement-text-color: #707070;
$text-gray-color: #92989f;
$header-background-color-light: #ebe1d6;
$header-background-color-dark: #cabba9;
$header-leftPanel-background-color: #c6b5a4;
$footer-main-color: #f8f9fa;
$divider-color: #c6b5a4;
$progressbar-color: #64a640;

//sizes
$blocks-border-radius: 1rem;
$project-basic-padding: 10rem;
